# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**

* Languages that Data Scientist use.
* Common libraries used by Data Scientist. 
* Some of the popular language that Data Scientist use are.
* Arithmetic expression used in Python.
* Tools used by Data Scientist.

**Popular languages used by Data Scientist.**

1. Python
2. R
3. SQL
4. Java

**Some of the commonly used libraries used by Data Scientists include.**

1. TensorFlow
2. Pandas
3. Scikit-learn
4. Apache Spark
5. Matpotlib

**Three development environment open source tools used in Data Science.**

| Data Science tools |
| ------------------- |
| Jupyter Notebook |
| RStudio |
| Visual Studio |

### Below are a few examples of arithmetic expressions in Python

* Addition ( + ): Adds two values together.
* Subtraction ( - ): Subtracts the second value from the first.
* Multiplication ( * ): multiplies two values.
* Division ( / ): Divide the first value from the second.
* Exponentiation ( ** ): Raises the first value to the power of the second.

In [44]:
( 3 * 4 ) + 5
# This is a simple arithmetic expression to multiply then add integers

17

In [48]:
minutes = 200
hours = minutes / 60
print(hours) 
200/60
# This will convert 200 minutes into hours by dividing 60

3.3333333333333335

3.3333333333333335

In [54]:
minutes = 200
hours = minutes // 60
remaining_minutes = minutes % 60 # Use floor division to get whole hours and remaining minutes
print(hours)
print(remaining_minutes)

3
20

## Aurthor

Daniel Fey